<div class="card offset-md-4 col-md-4 mt-4 opacity-75 shadow">
  <div class="text-center m-4">
    <%= form_with url: home_consult_path, method: :get do |form| %>
      <%= form.select :state, @states.pluck('sigla'), { include_blank: 'Selecione o estado', selected: params[:state] }, class: 'form-control my-3', onchange: "this.form.submit();" %>
      
      <% if params[:state].present? %>
        <% districts = Rails.cache.read("districts_#{params[:state]}") %>
        <%= form.select :city, districts.pluck('nome'), { include_blank: 'Selecione a cidade', selected: params[:city] }, class: 'form-control my-3', onchange: "this.form.submit();" if districts.present? %>
      <% end %>
    <% end %>
  </div>
  
  <div class="card-body text-center">
    <% if @weather_response.present? && @weather_response['name'].present? %>
      <h2><%= @weather_response['name'] %></h2>

      <hr />

      <div class="text-center">
        <h2><%= @weather_response['main']['temp'] %> ºC</h2>

        Mínima de: <b><%= @weather_response['main']['temp_min'] %> ºC</b> <br />
        Máxima de: <b><%= @weather_response['main']['temp_max'] %> ºC</b>
      </div>

      <hr />

      <h5>Tempo: <%= @weather_response['weather'][0]['description'].titleize %></h5>
      <h5>Humidade: <%= @weather_response['main']['humidity'] %>%</h5>
    <% end %>

    <% if @weather_response.present? && @weather_response['name'].nil? %>
      <small>Selecione outra cidade!</small>
    <% end %>
  </div>
</div>
